.wordiePopup:not(.logo, .bookmarkButton) {
  background: #cce5ff;
  border: 3px solid #D71920;
  border-radius: 9px;
  margin: 0px;
  padding: 10px 16px;
  height: 390px;
  width: 370px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, .3);
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
  font-size: 100%;
}

.wordiePopup span {
  margin-bottom: 1%;
  font-size: 1em;
}

.wordiePopup .sn-box {
  display: flex;
  flex-flow: row;
  margin-bottom: 1%;
}

.wordiePopup .sn-content {
  display: flex;
  flex-flow: column;
}

.wordiePopup .sn-content span {
  margin-bottom: 1%;
}

.wordiePopup .sn {
  font-weight: bold;
}

.wordiePopup .entry {
  display: block;
}

.wordiePopup .hw {
 display: inline-block;
 margin-top: 2%;
 margin-bottom: 2%;
 margin-right: 1%;
 font-size: 145%; 
 font-weight: bold;
 vertical-align: baseline;
}

.wordiePopup .pr::before, .altpr::before {
  content: "/";
}

.wordiePopup .pr::after, .altpr::after {
  content: "/";
}

.wordiePopup .flabel {
 color: #747474;
 font-weight: bold;
 font-style: italic;
}

.wordiePopup .in {
 display: block;
}

.wordiePopup .if {
  color: #747474;
  font-weight: bold;
}

.wordiePopup .if::after {
  content: ";"
}

.wordiePopup .il { 
  color: #747474;
  font-style: italic;
}

.wordiePopup .def {
 display: block;
}

.wordiePopup .wsgram {
 display: block;
 color: #747474;
 margin-top: 1%;
}

.wordiePopup .sgram {
 color: #747474;
}

.wordiePopup .gram {
 display: block;
 color: #747474;
 margin-top: 1%;
}

.wordiePopup .wsgram::before, .sgram::before, .gram::before {
  content: "[";
}

.wordiePopup .wsgram::after, .sgram::after, .gram::after {
  content: "]";
}

.wordiePopup .sn {
 font-weight: bold;
 margin-right: 1%;
}

.wordiePopup .vi {
  display:list-item;
  list-style: square inside;
  margin-top: 1%;
  margin-left: 8%;
}

.wordiePopup .vt {
  display: block;
  color: #747474;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;  
}

.wordiePopup .it {
  font-style: italic;
}

.wordiePopup .un::before {
  content: "\2014" " ";
}

.wordiePopup .dx::before {
  content: "\2014" " ";
}

.wordiePopup .dxnl {

}

.wordiePopup .dxt, .sx, .ct {
  text-transform: uppercase;
}

.wordiePopup .snote {

}

.wordiePopup .snotebox {

}

.wordiePopup .phrase {
  font-style: italic;
}

.wordiePopup .usage {

}

.wordiePopup .uro {
  display: block;
}

.wordiePopup .ure {
  font-weight: bold;
}

.wordiePopup .ure::before {
  content: "\2014" " ";
}

.wordiePopup .dro {

}

.wordiePopup .dre {
  display: block;
  font-weight: bold;
}

.wordiePopup .pva {
  font-weight: bold;
}

.wordiePopup .sl {
  font-style: italic;
}

.wordiePopup .hsl {
  color: #747474;
}

.wordiePopup .ssl {
  font-style: italic;
}

.wordiePopup .sin {
  display: block;
}

.wordiePopup .slb {
  font-style: italic;
}

.wordiePopup .cx {
  display: block;
}

.wordiePopup .tag {
  font-style: italic;
}

.wordiePopup .pr, .altpr {
  margin-left: 1%;
  color: #747474;
  margin-right: 1%;
}

.wordiePopup .lb {
  display: block;
  font-style: italic;
}

.wordiePopup .usageref {
  font-style: italic;
}

.wordiePopup .sound, .art {
  display: none;
}

.wordiePopup .suggestion {
  display: block;
}

.bookmarkButton:hover, .logo:hover, .playButton:hover, .openInTab:hover {
  cursor: pointer;
}

.wordiePopup .openInTab {
  color: blue;
}




















