.wordiePopup {
  background: #eef0ff;
  border: 3px solid #D71920;
  border-radius: 9px;
  margin: 0px;
  padding: 10px 16px;
  height: 390px;
  width: 370px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, .3);
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}

.wordiePopup span {
  padding-bottom: 1%;
}

.wordiePopup .sn-box {
  display: flex;
  flex-flow: row;
  padding-bottom: 1%;
}

.wordiePopup .sn-box span {
  padding-right: 1%;
}

.wordiePopup .sn-content {
  display: flex;
  flex-flow: column;
}

.wordiePopup .sn-content span {
  padding-bottom: 1%;
}

.wordiePopup .sn {
  font-weight: bold;
}

.wordiePopup .entry {
  display: block;
}

.wordiePopup .hw {
 display: inline-block;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-right: 1%;
 font-size: 145%; 
 font-weight: bold;
 vertical-align: baseline;
}

.wordiePopup .pr::before {
  content: "/";
}

.wordiePopup .pr::after {
  content: "/";
}

.wordiePopup .flabel {
 color: #747474;
 padding-left: 1%;
 font-weight: bold;
 font-style: italic;
}

.wordiePopup .in {
 display: block;
}

.wordiePopup .il { 
  color: #747474;
  font-style: italic;
}

.wordiePopup .if {
  color: #747474;
  font-weight: bold;
}

.wordiePopup .def {
 display: block;
 padding-top: 1%;
}

.wordiePopup .wsgram {
 display: block;
 color: #747474;
 padding-top: 1%;
}

.wordiePopup .sgram {
 color: #747474;
}

.wordiePopup .gram {
 display: block;
 color: #747474;
 padding-top: 1%;
}

.wordiePopup .wsgram::before, .sgram::before, .gram::before {
  content: "[ ";
}

.wordiePopup .wsgram::after, .sgram::after, .gram::after {
  content: " ]";
}

.wordiePopup .sn {
 font-weight: bold;
 padding-right: 1%;
}

.wordiePopup .dt {

}

.wordiePopup .vi {
  display:list-item;
  list-style: square inside;
  padding-left: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.wordiePopup .vt {
  display: block;
  color: #747474;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;  
}

.wordiePopup .it {
  font-style: italic;
}

.wordiePopup .un::before {
  content: "\2014" " ";
}

.wordiePopup .dx {

}

.wordiePopup .dxnl {

}

.wordiePopup .dxt {
  font-style: italic;
}

.wordiePopup .snote {

}

.wordiePopup .snotebox {

}

.wordiePopup .phrase {
  font-style: italic;
}

.wordiePopup .usage {

}

.wordiePopup .uro {
  display: block;
}

.wordiePopup .ure {
  font-weight: bold;
}
.wordiePopup .dro {

}
.wordiePopup .dre {
  display: block;
  font-weight: bold;
}

.wordiePopup .pva {
  font-weight: bold;
}

.wordiePopup .hsl {
  color: #747474;
}
.wordiePopup .ssl {
  color: #747474;
  font-style: italic;
}
.wordiePopup .sin {
  display: block;
}
.wordiePopup .slb {
  color: #747474;
}
.wordiePopup .cx {
  display: block;
}
.wordiePopup .ct {
  font-style: italic;
}

.wordiePopup .tag {
  font-style: italic;
}

.wordiePopup .art {

}
.wordiePopup .altpr {

}
.wordiePopup .usageref {

}
.wordiePopup .vr {

}
.wordiePopup .lb {

}
.wordiePopup .sound {

}
.wordiePopup .pr {
  padding-left: 1%;
}

.wordiePopup .art, .altpr, .usageref, .vr, .lb, .sound {
  display: none;
}





















